# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env files — NUNCA commitear las reales
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# TypeScript
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db
